<h1>New Bookmark</h1>

<h1>Create a New List</h1>
<%= simple_form_for @list do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.input :photo, as: :file %>
  </div>

  <div>
    <%= form.submit "Create List" %>
  </div>
<% end %>
